# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------
/media/*
!/media/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------
# don't overwrite the remote  config file unless you want to use the remote panel
/site/config/config.php

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License & accounts
# ---------------
# I added  the  license directly -- don't overwrite it
/site/config/.license
/site/accounts/.logins

# exclude 'em!
# https://getkirby.com/docs/cookbook/setup/composer#using-composer-for-other-dependencies
/kirby
/vendor